<div class="col-xs-2">
        <ul class="nav nav-pills nav-stacked">
            <li  class="active">
                <a href="../controller/router.php?action=userHome"><h4>Home</h4></a>
            </li>
            <li>
                <a href="../controller/router.php?action=userInfo"><h4>Personal Info</h4></a>
            </li>
            <li>
                <a href="../controller/router.php?action=carInfo"><h4>My Car</h4></a>
            </li>
            <li>
                <a href="../controller/router.php?action=myOrderList"><h4>My Order</h4></a>
            </li>
            <li>
                <a href="../controller/router.php?action=userPayments"><h4>Payments</h4></a>
            </li>
            <li>
                <a href="../controller/router.php?action=logout"><h4>Log out</h4></a>
            </li>

        </ul>
    </div>
