<div class="col-xs-2" style="color:white;background-color:#404447;height: 100%">
        <br>
        <br>
        <br>
        <ul class="nav nav-pills nav-stacked">
            <li> 
                <a href="" style="color: white"><h3>HOME</h3></a>
            </li>
            <li>
                <a href="../controller/router.php?action=userList"><h3>User List</h3></a>
            </li>  
            <li>
                <a href="../controller/router.php?action=carList"><h3>Car List</h3></a>
            </li>  
            
            <li>
                <a href="../controller/router.php?action=car_parked_list"><h3>Car Parked List</h3></a>
            </li>  
            
            <li>
                <a href="../controller/router.php?action=allOrderList"><h3>Order List</h3></a>
            </li>
            <li>
                <a href="../controller/router.php?action=operationAirport"><h3>Operation Airport</h3></a>
            </li>
            <li>
                <a href="../controller/router.php?action=operationParkingLot"><h3>Operation ParkingLot</h3></a>
            </li>
            <li>
                <a href="../controller/router.php?action=logout"><h3>Log out</h3></a>
            </li>

        </ul>
    </div>
