
<nav class="navbar navbar-fixed-top">
    <div class="navbar-header">
        <img src="../image/brand.jpg">
    </div>
    <ul class="nav navbar-nav">
        <li class="active" > <a href="../view/view_home.php" style="color: black"><span class="glyphicon glyphicon glyphicon-home"></span> <strong>Home</strong></a></li>
        <li class="active"> <a href="../view/view_park.php" style="color: black"> <strong>Parking</strong></a></li>
        <li class="active"> <a href="../view/view_rent.php" style="color: black"><strong>Rent a Car</strong></a></li>      
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="../controller/router.php?action=userHome" style="color: black"><span class="glyphicon glyphicon-user"></span><strong>My Account</strong></a></li>
        <li><a href="../view/view_login.php" style="color: black;"><span class="glyphicon glyphicon-log-in"></span><strong> Log in</strong></a></li>
    </ul>
</nav> 




