<nav class="navbar navbar-fixed-top" style="background-color:#2B2C2C">
    <div class="navbar-header">
        <h4 style="color:#CDD2D6  "><strong>The Travel Car Manage System</strong></h4>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li><a style="color: white"><span class="glyphicon glyphicon-user"></span><strong>Manager</strong></a></li>
        <li><a href="../view/view_login.php" style="color: white;"><span class="glyphicon glyphicon-log-in"></span><strong> Log in</strong></a></li>
    </ul>
</nav> 
